/* Formulario de registro */
html,body{
    height: 100%;
    display: block;
}

/* Formulario de registro */
div#form-register{
    background-color: #2f363a;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    padding: 0px 0 0 0;
    font-size: medium;

}