html,body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
}

.form-login{
    background-color: #2f363a;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    padding: 30px;
    font-size: larger;
}

