/*Geral*/

body{
    font-family: 'Roboto',sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 35px 35px;

}

.navbar-color-content{
    color: azure; 
}

/*Navbar*/
header ,.navbar{
    background-color: #353D41;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 80px;
}

#logo {
    width: 55px;
}

.navbar-brand{
    padding: 0;
    color: rgb(255, 255, 255);
}

.navbar-brand:hover{
    color: rgba(255, 255, 255, 0.705);
}

#navbar-links a{
    color: rgb(253, 253, 253);
}

#navbar-links a:hover{
    color:rgba(255, 255, 255, 0.637);
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem;
}


/*  Usuario  */

#user-data{
    background-color: rgb(233, 233, 233);
    padding-bottom: 50px;
}

input{
    border-radius: 10px;
    border-color: black;
    outline: none;
}

#button{
    width: 300px;
    justify-items: center;
    margin-left: 500px;
    margin-top: 10px;
}
 
/*COmo doar*/

#how-to-donate-area{
    background-color: white;
}


/*  Formulário de doacao  */
#donation-data{
    background-color: rgba(233, 233, 233);
    border-width: 2px;
    margin-left: 0px;
    margin-bottom: 0;
    padding: 35px;
}

#maneira-doacao{
    padding-top: 0px;
    margin-top: 0;
}

#button_donate{
    width: 300px;
    justify-items: center;
    margin-left: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}